body{
    margin-left: 0px;
    padding: opx;
    background: #F3F5FC;
}

header{
    display: flex;
    justify-content:left;
    padding: 10px 90px;
    background-color: black;
    height: 60px;
    gap: 30%;        
} 

.cabecalho_texto{
    color: white;   
    font-size: 30px;    
}

.imagem_logo{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100px;   
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;   
}

.text-area{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top:15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #F3F5FC;
}

.texto::placeholder{
    color: #0a3871;
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.texto-aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top:80%;   
}

.texto-aviso p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top:82%
    
}

.btn-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0A3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color:#fff;
}

.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background:#d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color:#0a3871;
}

.btn-criptografar,
.btn-descriptografar{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.mensagem{
    background-image: url(img/garoto.jpg);
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 60%;
    left: 60%;
    top:20%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.8);
    border-radius: 32px;
}

.mensagem p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
    font-size: 16px;
}

.btn-copiar{
    margin-left: 33%;
    margin-top: 30%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 24px;
    display: none;
    
}








    